body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
  background-color: rgb(19, 94, 94);
  border: none;
  padding: 0.4rem 0.8rem;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(120, 161, 113);
}

@media (max-width: 768px) {
  .App {
    flex-direction: column !important;
  }
}